.input {
  float: left;
  margin-top: 5px;
}

#input {
  width: 280px;
  height: 350px;
}

.links {
  float: right;
}

a {
  text-decoration: none;
  color: #009900;
  display: block;
}

a:hover, a:focus, button:hover, button:focus, select:hover, select:focus {
  color: #99ff99;
  outline: none;
}

label {
  color: #ffffff;
  margin-top: 1em;
  margin-bottom: 1em;
}

body {
  color: #cccccc;
  background: #0f0f23;
  font-family: "Source Code Pro", monospace;
  font-size: 14pt;
  min-width: 60em;
}

input[type="text"], textarea {
  background: transparent;
  color: inherit;
  border: 1px solid #666666;
  background: #10101a;
  padding: 0 2px;
  font-family: inherit;
}

input[type="text"] {
  color: #ffff66;
  font-style: normal;
  text-shadow: 0 0 5px #ffff66;
  font-size: inherit;
  width: 150px;
  text-align: center;
  margin: 0;
}

button, select, option {
  background: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
  color: #009900;
  cursor: pointer;
}

option {
  background: #0f0f23;
}

#input-label {
  display: block;
  margin: 0;
}

#visualization {
  float: left;
  margin-left: 10px;
}

pre {
  margin: 0;
  padding: 0;
  width: 750px;
  overflow: auto;
}
